.dashboard {
	list-style: none;	
	 -moz-box-shadow: 3px 3px 5px #535353;
  -webkit-box-shadow: 3px 3px 5px #535353;       
  box-shadow: 3px 3px 5px #535353;
}

.panel {
	
  -moz-box-shadow: 3px 3px 5px #535353;
  -webkit-box-shadow: 3px 3px 5px #535353;       
  box-shadow: 3px 3px 5px #535353;
  border-top-style:solid;
  border-right-style:none;
  border-bottom-style:none;
  border-left-style: solid;
  border-color: #9FA0A1;
  border-width:1px;
  
  background-image: linear-gradient(bottom, #F7EFDE 11%, #FFFFFF 100%);
	 background-image: -o-linear-gradient(bottom, #F7EFDE 11%, #FFFFFF 100%);
	 background-image: -moz-linear-gradient(bottom, #F7EFDE 11%, #FFFFFF 100%);
	 background-image: -webkit-linear-gradient(bottom, #F7EFDE 11%, #FFFFFF 100%);
	 background-image: -ms-linear-gradient(bottom, #F7EFDE 11%, #FFFFFF 100%);

	 background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.11, #F7EFDE),
		color-stop(1, #FFFFFF)
	);
}

.title-bar {
	height: 16px;	
	background-color: #8C7C4F;
	color:  #F7E6C1;
	border-bottom: groove gray 2px; 
	padding: 5px 5px 4px 5px;   /* Values clockwise: top, right, bottom, left */
    font: oblique 12px "Segoe UI", Arial, Sans-serif; 
    clear:both;
    
 
}

.title-bar .title-bar-text {
	float: left;
	width: 80%;
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
    -webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.title-bar .title-bar-icon {
	float: right;
}

.gauge {
        width:100%; height:80%;
        margin-top: -5px;
        margin-left:0px;
        display: inline-block;
  
      }
      
.chart {
	min-width: 200px; 
	height: 90%; 
	margin: 0 auto;
	margin-bottom: 2px;
}

.graph {
  height: 89%;
  
}

.pie {
  height: 90%;
  
}

.dashboard {
	
}

div.textGroup{
	 width:100%; 
	 height:90%;
	 padding: 5px 5px 5px 5px;
	 overflow:auto;

}
.textGroup table{
	border-collapse:separate;
    border-spacing:0 5px;	
   
}

.textGroup td {
	vertical-align:top;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.text-title{
	font: bold 14px "Segoe UI", Arial, Sans-serif;
	
}

.text-label{
	font: bold 11px "Segoe UI", Arial, Sans-serif;
}

.text-value{
	font: normal 11px "Segoe UI", Arial, Sans-serif;
}