.list-menu div {
  width: 300px;
}
 
.list-menu h2 {
  font: 400 30px/1.5 Helvetica, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}
 
.list-menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
 
.list-menu li {
  font: 200 16px/1.5 Helvetica, Verdana, sans-serif;
  border-bottom: 1px solid #ccc;
}
 
.list-menu li:last-child {
  border: none;
}
 
.list-menu li a {
  text-decoration: none;
  color: #000;
  display: block;
  width: 300px;
 
  -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
  -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
  -o-transition: font-size 0.3s ease, background-color 0.3s ease;
  -ms-transition: font-size 0.3s ease, background-color 0.3s ease;
  transition: font-size 0.3s ease, background-color 0.3s ease;
}
 
.list-menu li a:hover {
  font-size: 20px;
  background: #f6f6f6;
  white-space: nowrap;	
}